@{
    ViewData["Title"] = "首页";
}

<div class="text-center">
    <p><a class="btn btn-primary" asp-action="ExcelImportBridge">导入桥梁</a></p>
</div>
<div class="text-center">
    <p><a class="btn btn-primary" asp-action="Main">主函数</a></p>
</div>
<div class="text-center">
    <p><a class="btn btn-primary" asp-action="BridgeCounts">桥梁数量统计</a></p>
</div>
<div class="text-center">
    <p><a class="btn btn-danger" asp-action="BridgeSubTypeStatistics">桥梁病害数量统计（根据不同桥型）</a></p>
</div>
<div class="text-center">
    <p><a class="btn btn-primary" asp-action="BelongToTypeStatistics">根据部位统计病害数量</a></p>
</div>