@{
    ViewData["Title"] = "首页";
}

<div class="text-center">
    <p><a class="btn btn-primary" asp-action="ExcelImportBridge">导入桥梁</a></p>
</div>
<div class="text-center">
    <p><a class="btn btn-primary" asp-action="Main">主函数</a></p>
</div>
<div class="text-center">
    <p><a class="btn btn-primary" asp-action="BridgeCounts">桥梁数量统计</a></p>
</div>